/* Глобальные стили приложения */
body {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  /* color: var(--color-text); */
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

#root {
  width: 100%;
  min-height: 100vh;
}
