.scrollArea {
  flex: 1;
  height: 100%;

  :global(.mantine-ScrollArea-viewport) > div {
    min-height: 100%; 
    display: flex;
    flex-direction: column;
  }
}

.messageStack {
  padding: 16px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}
