.avatar {
  border-radius: 50%;
  object-fit: cover;
  display: block;

  &--clickable {
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &--xs {
    width: 32px;
    height: 32px;
  }

  &--sm {
    width: 40px;
    height: 40px;
  }

  &--md {
    width: 50px;
    height: 50px;
  }

  &--lg {
    width: 80px;
    height: 80px;
  }

  &--xl {
    width: 120px;
    height: 120px;
  }
}
