.title {
  margin-bottom: 24px;
  text-align: center;
}

.loader {
  text-align: center;
  padding: 20px;
}

.error {
  color: #ff6b6b;
  text-align: center;
}

.observerTarget {
  height: 20px;
  margin: 20px 0;
}

.loadingMore {
  text-align: center;
}

.endMessage {
  text-align: center;
  margin-top: 20px;
  color: #888;
}
