.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.BtnLogOutAndLogo {
  display: flex;
}

.nav {
  display: flex;
  gap: var(--spacing-lg);
  align-items: center;
  justify-items: center;
  gap: 35px;
}

.navItem {
  font-size: var(--font-size-base);
  color: var(--color-text);
  cursor: pointer;
  transition: color var(--transition-speed);
  position: relative;
  padding-bottom: 8px;

  &:hover {
    color: var(--color-primary);
  }

  &.active {
    color: var(--color-primary);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--color-primary);
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius);
  transition: all var(--transition-speed);
  cursor: pointer;
  color: var(--color-text);
  gap: 20px;

  svg {
    color: inherit;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-primary);
  }
}
